{% extends "main.html" %} {% load static %} {% block content %}

<main class="min-h-96 my-5 p-10 space-y-10 max-w-2xl border border-gray-200 rounded-lg shadow-md mx-auto bg-gradient-to-br from-purple-400 to-green-500">
  <h1>Welcome to our Simplified Weather app.</h1>
  <p>
    This app will provide you with the current weather and forecast for any
    location you choose.
  </p>

  <form class="max-w-sm mx-auto" action="" method="post" id="weather_form">
    {% csrf_token %}
    <div class="mb-5">
      <label
        for="id_city"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your City/Town</label
      >
      <input
        type="text"
        name="city"
        id="id_city"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Enter Your Preferred City/Town"
        required
      />
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Check Weather
    </button>
  </form>

  <section>
    <h2>Weather Details</h2>
    <div class="p-3" id="weather_data"></div>
  </section>
  

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Value
              </th>
          </tr>
      </thead>
      <tbody>
      </tbody>
  </table>
</div>


</main>

<script>
  var weather_form = document.getElementById("weather_form");

  weather_form.onsubmit = function (e) {
    e.preventDefault();
    var city = document.getElementById("id_city").value;

    fetch(`/api/weather/${city}/`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        }
        throw new Error("Network response was not ok");
      })
      .then((data) => {
        console.log(data);
        var weather_data = document.getElementById("weather_data");
        var table_body = document.querySelector("tbody")
        if (data.weather) {
          table_body.innerHTML = `
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Location
              </th>
              <td class="px-6 py-4">
                  ${data.name}
              </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Temperature
              </th>
              <td class="px-6 py-4">
                  ${data.main.temp}°C
              </td>
          </tr>

          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Weather
              </th>
              <td class="px-6 py-4">
                  ${data.weather[0].description}
              </td>
          </tr>

          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Humidity
              </th>
              <td class="px-6 py-4">
                  ${data.main.humidity}%
              </td>
          </tr>

          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Wind Speed
              </th>
              <td class="px-6 py-4">
                  ${data.wind.speed} m/s
              </td>
          </tr>

         `;
        } else {
          weather_data.innerHTML =
            "<p>Weather data not available. Please try again.</p>";
        }
      })
      .catch((error) => {
        console.error("There was a problem with the fetch operation:", error);
      });
  };
</script>

{% endblock content %}
